name = "proste-dobre-zpravy-api"
main = "src/index.ts"
compatibility_date = "2024-06-20"

#[triggers]
#crons = ["*/5 * * * *"]

[[d1_databases]]
binding = "ARTICLES_DB"
database_name = "articles-db"
database_id = "ac78951a-ce5e-49ea-a5d9-d9703803d512"

[[d1_databases]]
binding = "INTERNAL_DB"
database_name = "internal-db"
database_id = "25e155b3-d6f1-4b9b-baf1-74ec7b97aaa0"

[vars]
JWT_SECRET = "change-me-in-production"
# ANTHROPIC_API_KEY is set via: npx wrangler secret put ANTHROPIC_API_KEY

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1